{% extends "index.html" %}

{% load staticfiles %}

{% block intro %}	
{% endblock intro %}

{% block registro %}     

<section id="contact">
	<div class="form registro">
		<div class="section-header">
			<h3>RECUPERAR CONTRASEÑA</h3>
		</div>
				
		<form action="" method="post" class="contactForm">
			{% csrf_token %}
			<div class="form-row">
				<div class="form-group col-md-6">
					<label class="text-center" for="id_email">Correo:</label> {{ form.email}}
					<button type="submit">Enviar</button></div>	
				</div>
			</div>
		</form>
	</div>
</section>


{% endblock registro %}